{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-md navbar-dark bg-fmb fixed-top">
      <a class="navbar-brand" href="#">Repositório FMB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto menu">
          <li class="nav-item dropdown menu-fmb">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">item 01</a>
              <a class="dropdown-item" href="#">item 02</a>
              <a class="dropdown-item" href="#">item 03</a>
            </div>
          </li>
        </ul>
{#        <form class="form-inline my-2 my-lg-0">#}
{#          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#        </form>#}
          <form class="form-inline my-2 my-lg-0" name="myform" method="GET" action="{% url 'search' %}">
              {% csrf_token %}
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Pesquisar..."/>
            <button class="btn btn-fmb my-2 my-sm-0" type="submit">Procurar</button>
          </form>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Busca de Artigos</h1>

          <div class="row artigos">
              <div class="col-sm-12 col-md-4">
                  <div class="card" style="width: 18rem;">
                      <div class="card-header">
                        Titulo
                      </div>
                      <ul class="lista-artigo">
                          {% for i in artigos %}
                            <li class="item-artigo"><a href="#">{{ i.titulo }}</a> - <span class="quant">{{ quant }}</span></li>
                          {% endfor %}
                      </ul>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4">
                   <div class="card" style="width: 18rem;">
                      <div class="card-header">
                        Assunto
                      </div>
                      <ul class="lista-artigo">
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4">
                   <div class="card" style="width: 18rem;">
                      <div class="card-header">
                        Data de Publicação
                      </div>
                      <ul class="lista-artigo">
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                          <li class="item-artigo"><a href="#">Item 01</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



{% endblock %}